body{
  background-image: url("../img/back1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.btn{
  border-radius: 50%;
  height: 50px;
  background-color: #3AF743  
}
.user1{
  color: white;
}
