body{
  /*background-image: url("../img/dice1.png");
  background-size: cover;
  background-repeat: no-repeat;*/

}
.btn{
  border-radius: 50%;
  height: 50px;
  background-color: black;
  color: white;
}
.user1{
  color: black;
  font-size: 50px;
}
.user2{
  color: black;
  font-size: 50px;
}
.score1{
  color: black;
  font-size: 50px;
}
.score2{
  color: black;
  font-size: 50px;
}
.points1{
  color: black;
  font-size: 50px;
}
.points2{
  color: black;
  font-size: 50px;
}
.dice{

  margin-top:100px;
  margin-bottom:100px;
  margin-left:300px;
  margin-right:300px;
}
.dice1{
  border-style: solid;
  border-color: black;
  padding-left:130px;
  padding-top:300px;
  padding-bottom:10px;
}
.dice2{
  border-style: solid;
  border-color: black;
  padding-left:130px;
  padding-top:300px;
  padding-bottom:10px;
}
.hang{
    transform: translate(-50px, -160%);
}
.hang1{
   transform: translate(-10px, -160%);
}
